<div class="comment-buttons">

    {% if comment.author.username == user.username or user.is_superuser %}

    <form action="{% url 'comment_delete_url'  slug=post.slug pk=comment.id %}" method="post" class="deleteCommentForm">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-primary">
    </form>

    {% endif%}


    {% if comment.author.username == user.username %}

    <form action="{% url 'comment_delete_url'  slug=post.slug pk=comment.id %}" method="post" class="editCommentForm">
        {% csrf_token %}
        <input type="submit" value="Edit">
    </form>

    {% endif %}

</div>