<div class="media mt-2">
    <img src="{{ comment.author.profile.pic.url}}" class="mr-3" alt="..." width="64px">
    {% if comment.author.username == user.username %}
    <form action="" method="post"></form>
    {% endif%}
    <div class="media-body">
        <h5 class="mt-0">{{ comment.author.username}}</h5>
        <hr>
        <p>{{ comment.text }}</p>
        <hr>
        <p>{{comment.pub_date}} </p>
        {% for comment in comment.replies.all %}
        <div class="media mt-2">
            <img src="{{ comment.author.profile.pic.url}}" class="mr-3" alt="..." width="64px">
            {% if comment.author.username == user.username %}
            <form action="" method="post"></form>
            {% endif%}
            <div class="media-body">
                <h5 class="mt-0">{{ comment.author.username}}</h5>
                <hr>
                <p>{{ comment.text }}</p>
                <hr>
                <p>{{comment.pub_date}} </p>
            </div>
        </div>
        {% endfor%}
    </div>
</div>