{% extends "blog/base_blog.html"%}

{% block title%} Post "{{ post.title}}" {% endblock%}

{% block content%}
  {% include "blog/includes/post_card.html"%}
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token%}
            <p>Comment:</p>
            {{ form.text }}
            <button type="submit" value="" class="btn btn-primary mt-5 mb-5">Comment</button>
        </form>
    {% else %}
    <p> <br>You need to be authenticated to add comment!<br></p>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'accounts_registration_url' %}" class="btn btn-primary">Registrate</a>
    {% endif %}
    <hr>
    {% for comment in post.comments.all%}
        {% if not comment.parent %}
            {% include "blog/includes/comment.html" %}

        {% if user.is_authenticated %}
            {% include "blog/includes/comment_reply.html" %}
        {% endif %}
        {% endif %}
    {% empty %}
    <p>No comments.</p>
    {% endfor %}
{% endblock%}