{% extends "blog/base_blog.html" %}

{% block title %} Editing post {{ tag.title|title }} {% endblock %}


{% block header %} Editing post "{{ tag.title|title }}" {% endblock %}

{% block content %}
<h2> Editing post </h2>
    <form action="{{ tag.get_edit_url }}" method="post">
        {% csrf_token%}
        {% for field in form %}
        {% include "blog/includes/add_form.html" %}
        {% endfor%}
        <button type="submit" name="submit" class="btn btn-primary" >Edit</button>
    </form>
{% endblock %}